In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("./input"))

['data.csv', 'data2.csv']

In [2]:
data = pd.read_csv('./input/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
display(data[data['budget'] == data['budget'].max()])

# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
display(data[data['runtime'] == data['runtime'].max()])

answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
display(data[data['runtime'] == data['runtime'].min()])

answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
display(data['runtime'].mean())

answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
display(data['runtime'].median())

answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
data['прибыль'] = data['revenue'] - data['budget']

display(data[data['прибыль'] == data['прибыль'].max()])

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
display(data[data['прибыль'] == data['прибыль'].min()])

answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
display(len(data[ data['прибыль'] > 0]))

answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
d08 = data[data['release_year'] == 2008]

display(d08[d08['прибыль'] == d08['прибыль'].max()])

answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
d1214 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]

display(d1214[d1214['прибыль'] == d1214['прибыль'].min()])

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
dg = data['genres'].str.get_dummies('|')

display(dg.sum().sort_values())

answer_ls.append(3)

Foreign              2
Documentary          8
Western             20
War                 58
History             62
Music               64
Animation          139
Mystery            168
Horror             176
Fantasy            223
Science Fiction    248
Family             260
Romance            308
Crime              315
Adventure          416
Action             583
Thriller           597
Comedy             683
Drama              782
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
dg = data[data['прибыль'] > 0]['genres'].str.get_dummies('|')

display(dg.sum().sort_values())

answer_ls.append(1)

Documentary          7
Western             12
War                 41
History             46
Music               47
Mystery            119
Animation          120
Horror             150
Fantasy            188
Science Fiction    195
Family             226
Crime              231
Romance            242
Adventure          337
Action             444
Thriller           446
Comedy             551
Drama              560
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
display(data['director'].describe())

answer_ls.append(3)

count                  1890
unique                  958
top       Steven Soderbergh
freq                     13
Name: director, dtype: object

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
display(data[data['прибыль'] > 0]['director'].describe())

answer_ls.append(4)

count             1478
unique             774
top       Ridley Scott
freq                12
Name: director, dtype: object

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
display(data[data['прибыль'] > 0].groupby('director')['прибыль'].sum().sort_values())

answer_ls.append(5)

director
Christian Alvart        2000000
Sarah Gavron            2002420
Bill Paxton             2110448
Joe Nussbaum            2130000
John Bonito             2165608
                        ...
Michael Bay          2760938960
J.J. Abrams          2839169916
Christopher Nolan    3162548502
David Yates          3379295625
Peter Jackson        5202593685
Name: прибыль, Length: 774, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
c = Counter()

for index, row in data.iterrows():
    names = row['cast'].split('|')
    for name in names:
        c[name] += row['прибыль']
        
display(c.most_common(5))

answer_ls.append(1)

[('Emma Watson', 6666245597),
 ('Daniel Radcliffe', 6514990281),
 ('Rupert Grint', 6408638290),
 ('Ian McKellen', 6087375777),
 ('Robert Downey Jr.', 5316030161)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
dg = data[ data['release_year'] == 2012 ]

c = Counter()

for index, row in dg.iterrows():
    names = row['cast'].split('|')
    for name in names:
        c[name] += row['прибыль'] / len(names)
        
        
display(c.most_common()[:-2:-1])

answer_ls.append(3)

[('Kirsten Dunst', -13621841.4)]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
dg = data[ data['budget'] > data['budget'].mean() ]

c = Counter()

for index, row in dg.iterrows():
    names = row['cast'].split('|')
    for name in names:
        c[name] += 1
        
        
display(c.most_common(5))
answer_ls.append(3)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
dg = data[ data['cast'].str.contains('Nicolas Cage') ]

c = Counter()

for index, row in dg.iterrows():
    genres = row['genres'].split('|')
    for g in genres:
        c[g] += 1
        
        
display(c.most_common())

answer_ls.append(2)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
c = Counter()

for index, row in data.iterrows():
    cs = row['production_companies'].split('|')
    for company in cs:
        c[company] += 1
        
        
display(c.most_common(5))

answer_ls.append(1)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 117),
 ('Twentieth Century Fox Film Corporation', 109)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
dt = data[data['release_year'] == 2015]

c = Counter()

for index, row in dt.iterrows():
    cs = row['production_companies'].split('|')
    for company in cs:
        c[company] += 1
        
        
display(c.most_common(5))

answer_ls.append(4)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Paramount Pictures', 7),
 ('Columbia Pictures', 7)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
dt = data[data['genres'].str.contains('Comedy')]

c = Counter()

for index, row in dt.iterrows():
    cs = row['production_companies'].split('|')
    for company in cs:
        c[company] += row['прибыль']
        
        
display(c.most_common(5))

answer_ls.append(2)

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
dt = data[data['release_year'] == 2012]

c = Counter()

for index, row in dt.iterrows():
    cs = row['production_companies'].split('|')
    for company in cs:
        c[company] += row['прибыль']
        
        
display(c.most_common(5))

answer_ls.append(3)

[('Columbia Pictures', 2501406608),
 ('Universal Pictures', 1981011579),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1258020056),
 ('Relativity Media', 1032593938)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
dt = data[ data['production_companies'].str.contains('Paramount Pictures')]

display(dt.sort_values('прибыль'))

answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987
1624,tt0375173,0.898601,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,140,5.4,2004,-46604061
1632,tt0315297,0.767870,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,67,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,tt1229238,2.952740,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Ro...,12/7/2011,3036,6.7,2011,549713380
1739,tt0418279,0.890557,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,2752,6.6,2007,559709780
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,1537,5.6,2008,601636033
317,tt1055369,0.813323,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,2230,6.0,2009,686297228
829,tt1399103,0.760503,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,6/28/2011,2456,6.1,2011,928746996

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
display(data.groupby('release_year')['прибыль'].sum().sort_values())

answer_ls.append(5)

release_year
2000     6101399805
2001     7950614865
2006     8691077320
2005     8981925558
2002     9002361487
2003     9228823312
2004     9634180720
2007    11565911801
2008    11663881990
2010    13117292530
2009    13423744372
2011    14730241341
2013    15243179791
2012    16077001687
2014    16397812953
2015    18668572378
Name: прибыль, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
display(data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['прибыль'].sum().sort_values())

answer_ls.append(1)

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: прибыль, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
data['месяц'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y').dt.month

display(data.groupby('месяц').count().sort_values('imdb_id'))

answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль
месяц,,,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
display(data[data['месяц'].isin([6,7,8])].count())

answer_ls.append(2)

imdb_id                 450
popularity              450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_count              450
vote_average            450
release_year            450
прибыль                 450
месяц                   450
dtype: int64

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
display(data[data['месяц'].isin([1,2,12])].groupby('director').count().sort_values('imdb_id', ascending=False))

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль,месяц
director,,,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Nancy Meyers,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GÃ¡bor CsupÃ³,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ritchie,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ferland,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Gus Van Sant,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Will Gluck,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
months = {1:'январь', 2:'февраль', 3:'март', 4:'апрель', 5:'май', 6:'июнь', 7:'июль', 8:'август', 9:'сентябрь', 10:'октябрь', 11:'ноябрь', 12:'декабрь'}

t = pd.pivot_table(data, index='месяц', columns='release_year', values='прибыль', aggfunc='sum')
t = t.rename(months)

display(t.idxmax().value_counts().sort_values())

answer_ls.append(2)

июль       1
май        4
декабрь    4
июнь       7
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
data['длина_названия'] = data['original_title'].map(lambda x: len(x))

companies = data['production_companies'].str.cat(sep='|')
companies = pd.Series(companies.split('|')).value_counts()

for i in companies.index:
    companies[i] = data['длина_названия'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
    
display(pd.DataFrame(companies).sort_values(0, ascending=False))

answer_ls.append(5)

                             0
Four By Two Productions     83
Jim Henson Company, The     59
Dos Corazones               47
Polsky Films                46
Museum Canada Productions   46
...                         ..
Berlanti Productions         3
Everest Entertainment        3
XM2 Productions              2
Global Entertainment Group   2
Ixtlan Productions           2

[1772 rows x 1 columns]

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
data['колво_слов'] = data['original_title'].map(lambda x: len(x.split()))

companies = data['production_companies'].str.cat(sep='|')
companies = pd.Series(companies.split('|')).value_counts()

for i in companies.index:
    companies[i] = data['колво_слов'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
    
display(pd.DataFrame(companies).sort_values(0, ascending=False))

answer_ls.append(5)

                                  0
Four By Two Productions          12
Jim Henson Company, The          10
Polsky Films                      9
Dos Corazones                     9
The Saul Zaentz Company           9
...                              ..
Tollin/Robbins Productions        1
Kasdan Pictures                   1
Imagi Animation Studios           1
Cinerenta Medienbeteiligungs KG   1
Fuji Television Network           1

[1772 rows x 1 columns]

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
t = pd.Series(data['original_title'].str.cat(sep=' ').split()).str.lower()
display(t.describe())

answer_ls.append(3)

count     5137
unique    2461
top        the
freq       599
dtype: object

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
pl = np.percentile(data['vote_average'], [99, 100])

display(data[ (data['vote_average'] > pl[0]) & (data['vote_average'] <= pl[1]) ].sort_values('vote_average', ascending=False))

answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,прибыль,месяц,длина_названия,колво_слов
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7,15,3
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609,6,10,2
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,29401758,10,4,1
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480,11,12,1
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,219555708,11,18,3
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014,603312399,7,23,4
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,308330363,10,9,2
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014,144600318,2,24,4
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010,665500000,7,9,1
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002,85072577,9,11,2
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,1024888979,12,45,10
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013,292000694,12,23,5
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,167000000,10,16,4
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000,30723096,10,7,1

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
import itertools as it

c = []

for r in data.index:
    c = c + list(it.combinations(data.iloc[r]['cast'].split('|'), 2))

c = pd.Series(list(c))

display(c.describe())    

answer_ls.append(5)

count                                18878
unique                               18131
top       (Daniel Radcliffe, Rupert Grint)
freq                                     8
dtype: object

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
ds = pd.Series(data['director'].str.cat(sep='|').split('|')).unique()

ds = pd.DataFrame(columns=['director'], data=ds)
ds['процент'] = None

for i in ds.index:
    dm = data[ data['director'].str.contains(ds.iloc[i]['director']) ]
    ds.loc[i,'процент'] = len(dm[ dm['прибыль'] > 0 ]) * 100 / len(dm)
    

display(ds[ ds['director'].isin(['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood'])].sort_values('процент'))


answer_ls.append(4)

              director  процент
190   Robert Rodriguez  72.7273
289  Steven Soderbergh  76.9231
148     Clint Eastwood  83.3333
17   Quentin Tarantino  85.7143
122  Christopher Nolan      100

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4